<!DOCTYPE html>
<html lang="en-us" ng-app="onSelectExample">
  <head>
    <meta charset="UTF-8">
    <title>Angular On Select by clarkmalmgren</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">

    <script src="app.js"></script>
    <script src="demo.js"></script>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Angular On Select</h1>
      <h2 class="project-tagline"></h2>
      <a href="https://github.com/clarkmalmgren/angular-onselect" class="btn">View on GitHub</a>
      <a href="https://github.com/clarkmalmgren/angular-onselect/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/clarkmalmgren/angular-onselect/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <h1>
<a id="angular-on-select-directive" class="anchor" href="#angular-on-select-directive" aria-hidden="true"><span class="octicon octicon-link"></span></a>Angular On Select Directive</h1>

<p><a href=""><img src="https://img.shields.io/badge/license-mit-green.svg" alt="license:mit"></a>
<a href=""><img src="https://img.shields.io/travis/clarkmalmgren/angular-onselect.svg" alt="Travis"></a>
<a href=""><img src="https://img.shields.io/coveralls/clarkmalmgren/angular-onselect.svg" alt="Coveralls"></a>
<a href=""><img src="https://img.shields.io/npm/dt/angular-onselect.svg" alt="npm"></a>
<a href=""><img src="https://img.shields.io/npm/v/angular-onselect.svg" alt="npm"></a>
<a href=""><img src="https://img.shields.io/bower/v/angular-onselect.svg" alt="Bower"></a></p>


<h2>
  <a id="live-demo" class="anchor" href="#live-demo" aria-hidden="true"><span class="octicon octicon-link"></span></a>Live Demo</h2>

<div class="panel" ng-controller="ExampleController as vm">
  <div ng-if="vm.lastSelectedText">
    <h4>You have selected the following text:</h4>
    <p>{{vm.lastSelectedText}}</p>
  </div>
  <div ng-if="!vm.lastSelectedText">
    <h4>You haven't yet selected any text</h4>
  </div>

  <hr>

  <div on-select="vm.doStuff(selection);" snap-to-word auto-highlight>
    <p>
      Bacon ipsum dolor amet ut beef ribs culpa alcatra cupidatat bacon sint dolor ipsum. Pork loin picanha nisi leberkas sausage. Pork chop consequat boudin, rump duis sausage ut cow swine ham alcatra dolor. Consectetur strip steak ham proident fugiat short loin voluptate officia boudin.
    </p>
    <p>
      Deserunt est tongue, capicola officia short loin kielbasa corned beef in eu leberkas veniam cow ut ut. Cow sint magna, drumstick bacon turkey dolore aute ea pariatur. Esse fugiat cow anim boudin beef ribs. Aliquip esse proident, exercitation elit anim ut ball tip in beef mollit porchetta. Ea frankfurter aliquip, short loin voluptate velit reprehenderit. Nisi nostrud esse jowl alcatra.
    </p>
  </div>
</div>


      <h2>
  <a id="about" class="anchor" href="#about" aria-hidden="true"><span class="octicon octicon-link"></span></a>About</h2>

<p>Directive that allows for click-and-drag or just a click for highlighting words within any container
regardless of type. The <code>on-select</code> attribute value is evaluated whenever a word or a group of words
have been highlighted. The selection object is passed in as <code>selection</code> in the evaluated component.</p>

<p>Additionally, if <code>auto-highlight</code> is also present, upon selection the selected text is automatically
highlighted. This is * effectively the same as calling <code>selection.highlight(..)</code> with some basic
defaults.</p>

<p>If <code>snap-to-word</code> is present, the selected text is expanded to include whole words (including punctuation).
If snap-to-word is turned on, simply clicking on a word is the same as highlighting the whole word.</p>

<h2>
<a id="example-usage" class="anchor" href="#example-usage" aria-hidden="true"><span class="octicon octicon-link"></span></a>Example Usage</h2>

<p>The below example shows how to use <code>on-select</code> to automatically highlight a word and then after <code>2000ms</code> the highlight
is removed. This is actually demoed in the <a href="#live-demo">Live Demo</a> selection at the top of the page.</p>

<div class="highlight highlight-source-js"><pre>angular.module(<span class="pl-s"><span class="pl-pds">'</span>example<span class="pl-pds">'</span></span>, [<span class="pl-s"><span class="pl-pds">'</span>onSelect<span class="pl-pds">'</span></span>])
  .controller(<span class="pl-s"><span class="pl-pds">'</span>ExampleController<span class="pl-pds">'</span></span>, <span class="pl-k">function</span>() {
    <span class="pl-k">var</span> vm <span class="pl-k">=</span> <span class="pl-v">this</span>;
    vm.handler <span class="pl-k">=</span> handler;
    <span class="pl-k">return</span> <span class="pl-v">this</span>;

    <span class="pl-k">function</span> <span class="pl-en">handler</span>(<span class="pl-smi">selection</span>) {
      <span class="pl-c1">setTimeout</span>(<span class="pl-k">function</span>() {
        selection.removeHighlight();
      }, <span class="pl-c1">2000</span>);
    };
  });</pre></div>

<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">ng-controller</span>=<span class="pl-s"><span class="pl-pds">"</span>ExampleController as vm<span class="pl-pds">"</span></span>&gt;
  &lt;<span class="pl-ent">div</span> <span class="pl-e">on-select</span>=<span class="pl-s"><span class="pl-pds">"</span>vm.handler(selection);<span class="pl-pds">"</span></span> <span class="pl-e">auto-highlight</span> <span class="pl-e">snap-to-word</span>&gt;
    Bacon ipsum dolor amet ut beef ribs culpa...
  &lt;/<span class="pl-ent">div</span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>

<h2>
<a id="installation" class="anchor" href="#installation" aria-hidden="true"><span class="octicon octicon-link"></span></a>Installation</h2>

<div class="highlight highlight-source-shell"><pre>$ npm install --save angular-onselect

   -- or --

$ bower install --save angular-onselect</pre></div>

<h2>
<a id="submitting-issues" class="anchor" href="#submitting-issues" aria-hidden="true"><span class="octicon octicon-link"></span></a>Submitting Issues</h2>

<p>Please file a github issue for any problems or feature requests.</p>




      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/clarkmalmgren/angular-onselect">Angular On Select</a> is maintained by <a href="https://github.com/clarkmalmgren">clarkmalmgren</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
